*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(BG.jpg) no-repeat;
    height: auto;
    background-size: cover;
    background-position: center;
}

main{
    position: 0;
    width: 100%;
    height: 100vh;
}

.rounded-image {
    height: 80px;
    width: 80px;
    border: 5px solid #f5f5f329;
    border-radius: 50%;
}

nav{
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.p1{
    margin-top:0%; 
    margin-right: 30%;
    font-size: 35px;
    font-style: none;
    font-weight: bold;
    float: left;
    color: rgb(241, 237, 237);
    cursor: pointer;
}

nav ul li{
    margin-top: 0%;
    font-size:22px;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgba(229, 31, 240, 0.326);
    /* color: rgb(11, 66, 125); */
}

.heading p{
    text-align: center;
    margin-left: 30px;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    float: left;
    color: rgba(239, 69, 248, 0.342);
    cursor: pointer;
}

.heading p span{
    color:rgba(47, 113, 244, 0.341);
}

.heading p span:hover{
    color:rgba(244, 165, 47, 0.341);
}

table{
    background-color: rgba(0, 0, 0, 0.541);
    border: 5px solid #47474386;
    text-align: center;
    font-size: 18px;
    color:whitesmoke;
}

.tab{
    table-layout: fixed;
    display:flex;
    float:right;
    margin-top:5%;
    margin-right: 20%;
    margin-left: 20%;

}
.THead{
    text-decoration: underline;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#th1{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
}
img {
    border: 5px solid rgba(9, 47, 237, 0.589);
    border-radius: 30px; 
    width: 150px;
    height: 150px;
    position: relative; 
    bottom: 0;
    cursor: pointer;
    transform: translateX(-10%);
    transition: bottom 1s, right 1s;
}

.A:hover{
    width: 160px;
    height: 160px;
    border: 5px solid rgba(237, 180, 9, 0.589);

}

.M:hover{
    width: 160px;
    height: 160px;
    border: 5px solid rgba(237, 180, 9, 0.589);

}
.H:hover{
    width: 160px;
    height: 160px;
    border: 5px solid rgba(237, 180, 9, 0.589);

}

footer {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    margin-top: 35%; 
}